# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3exe_POO\TP_git\TP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
